.bienvenido-init {

    & h2 {
        font-size: 4vh;
        text-align: center;
        padding: 1%;
        width: auto;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color:blue;
        color: #fff;
        text-decoration: underline blue .3vh;
    }

    & p {
        color: blue;
        padding: 0 5%;
        padding-bottom: 1%;
    }
}

img {
    pointer-events: none;
}

.main {
    background: url("../imagenes/fondo/fondo pagina web.jpg");
    background-size: contain;
    width: 100%;

    .main-main {
        display: flex;
        padding: 2% 1%;
        gap: 2.2%;
        justify-content: center;
        align-items: center;

        .content-news,
        .des-direct {
            height: 60vh;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.2);
        }

        .content-news {
            width: 55%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .news-cont {
                padding: 2% 5%;

                & h4 {
                    font-size: 3vh;
                    color: blue;
                    text-align: center;
                }

                & hr {
                    margin: .5% 0;
                    height: .3vh;
                    background-color: rgb(255, 170, 0);
                    border: none;
                }

                & p {
                    text-align: justify;
                }
            }
        }

        .content-news::-webkit-scrollbar {
            background-color: rgb(149, 129, 116);
            border-radius: 0 15px 15px 0;
        }

        .content-news::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: #fff;
            border-radius: 0 15px 15px 0;
            padding: 1%;

        }

        .des-direct {
            width: 40%;
            padding: 2%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;

            & img {
                height: 40vh;
                width: 100%;
                overflow: hidden;
                object-fit: cover;
            }

            & h4 {
                font-size: 3vh;
                color: blue;
                text-decoration: underline yellow .5vh;
            }

            & p {
                text-align: justify;
            }
        }
    }

    .main-main-main {
        padding: 2% 1%;
        display: flex;
        gap: 2%;
        justify-content: center;
        background-color: blue;

        .cards {
            height: 40vh;
            width: 25%;
            background-color: #fff;
            border-radius: 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2%;
            justify-content: space-between;
            box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.2);

            & img {
                height: 10vh;
                object-fit: cover;
                overflow: hidden;
                border-radius: 50%;

            }

            & h5 {
                font-size: 2vh;
                color: blue;
            }

            & hr {
                width: 100%;
                height: .5vh;
                border: none;
                background-color: gray;
            }
        }
    }

    .siti-int {
        background-color: #fff;
        padding: 1.5%;

        & h5 {
            font-size: 3vh;
            color: blue;
            text-align: center;
        }

        .content {
            display: flex;
            justify-content: center;
            gap: 1vh;
            padding: 1%;

            & a {
                height: 5vh;

                & img {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}

#map {
    width: 100%;
    height: 30vh;
    padding: 2%;
}

#siti-info {
    background-color: blue;
    padding: 2%;

    & h4 {
        font-size: 4vh;
        text-align: center;
        color: #fff;
        text-decoration: underline #fff .2vh;
    }
}